nextcord
transformers
accelerate
python-dotenv
torch
setuptools
flash_attn
tiktoken
transformer_lens
jaxtyping
scikit-learn
colorama
torchvision
triton
xformers
optimum
auto-gptq
exllamav2
discord-ext-voice-recv
SpeechRecognition
numpy
einops
pillow
requests
librosa
einops-exts
munch
git+https://github.com/openai/whisper.git
git+https://github.com/TeamPyOgg/PyOgg
torchaudio
PyYAML
typing_extensions
tqdm
scipy
outetts
nltk
phonemizer
pandas
datasets
auto_fp8
hqq