nextcord
transformers
accelerate
python-dotenv
torch
setuptools
flash_attn
tiktoken
transformer_lens
jaxtyping
scikit-learn
colorama
torchvision
triton
xformers
fbgemm-gpu
hqq
git+https://github.com/neuralmagic/AutoFP8.git