nextcord
git+https://github.com/huggingface/transformers
accelerate>0.32.1
python-dotenv
torch
setuptools
flash_attn
tiktoken
transformer_lens
jaxtyping
scikit-learn
colorama
torchvision
triton
xformers
fbgemm-gpu
hqq
git+https://github.com/IST-DASLab/marlin
git+https://github.com/NetEase-FuXi/EETQ.git